/* Include icon css */
@import url('icons.css');

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
    font-family: 'app-font';
    src: url('../fonts/Raleway-Regular.otf') format('truetype');
}

input:focus {
  outline: none;
}

html {
  font-family: 'app-font';
  background: #222;
}

h2 {
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  min-height: 100%;
}

.title {
  padding: 5px;
  
  font-family: 'app-font';
  font-size: 40pt;
  color: #555;
}

.background {
  position: absolute;

  width: 225%;
  height: 50%;

  margin: 0;
  padding: 0;

  opacity: 0.2;

  -webkit-filter: blur(10px);
     -moz-filter: blur(10px);
      -ms-filter: blur(10px);
       -o-filter: blur(10px);
          filter: blur(10px);
}

.background#back1 {
  top: 0px;
  left: -200px;

  background: url('/images/field.jpg') no-repeat;
  background-size: cover;
}

.background#back2 {
  top: 50%;
  left: -200px;

  background: url('/images/doak.jpg') no-repeat;
  background-size: cover;
}

.scrollbar {
  position: fixed;
  top: 45%;
  right: 0;

  z-index: 2;
}

.scrollbar > a > span {
  display: block;

  padding: 10px;

  text-align: center;
  font-size: 15pt;

  background: #888;
  color: #FFF;

  cursor: pointer;
}

.scrollbar > a > span:hover {
  background: #999;
}

.arrow {
  display: none;
  position: fixed;
  top: 48%;
  left: 2em;

  font-size: 25px;
  color: #FFF;

  z-index: 2;

  cursor: pointer;
}

.main {
  position: relative;

  width: 85%;
  height: auto;
  
  margin: 0 auto;

  color: #FFF;
}

.main .logo {
  position: relative;
  top: 0.3em;

  font-size: 100pt;
}

.main .desc {
  margin: 18% auto 2em auto;
}

.main .info {
  width: 100%;

  margin: 0 auto;

  text-align: justify;

  -ms-text-justify: distribute-all-lines;
      text-justify: distribute-all-lines;
}

.main .info:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.main .info div.attr:last-child {
  margin: 0;
}

.main .attr {
  display: inline-block;
  *display: inline;

  width: 11em;

  margin: 0 0 2em 0;

  text-align: center;
  vertical-align: top;
}

.main .attr .icon {
  font-size: 85pt;
}

.main section#login {
  position: relative;
  right: 0em;

  z-index: 1;

  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.main section.animated {
  -webkit-transform: translateX(-100em);
}

.login_box {
  display: block;
  position: relative;

  top: 14em;

  text-align: center;

  width: 18em;
  min-height: 27em;

  margin: 0 auto;

  border: 1px solid #7f8c8d;
  background: #FFF;
}

.register_box {
  display: block;
  position: relative;

  top: -14em;
  left: 100em;

  text-align: center;

  width: 18em;
  min-height: 30em;
  height: auto;

  margin: 0 auto;

  border: 1px solid #7f8c8d;
  background: #FFF;
}

.regular_box {
  display: block;
  position: relative;

  text-align: center;

  width: 20em;
  height: 15em;
  
  z-index: 999;

  margin: 12em auto 0 auto;

  border: 1px solid #7f8c8d;
  background: #FFF;
}

.form_box {
  display: block;

  width: 85%;
  height: 2em;

  margin: 3em auto;
}

.form_box > span {
  background: #FFF;
  color: #555;
  font-size: 20px;

  padding: 5px;
}

.form_box input {
  position: relative;
  top: -4.6px;
  left: -5px;
  width: 85%;
  height: 30.5px;

  margin: 0;
  padding: 5px;

  background: #FFF;
  border: none;

  color: #666;
}

.login_submit {
  width: auto;
  height: 2.5em;

  background: #555;
  border: none;

  z-index: 9999;

  cursor: pointer;
}

.login_submit > span {
  padding: 5px;

  font-size: 15pt;
  color: #DDD;
}

.errors {
  display: block;
  position: relative;
  bottom: -25px;

  margin: 0 auto 2em auto;
  color: #555;
}

.login_options {
  display: block;
  position: relative;
  bottom: -50px;

  font-size: 10pt;
}

.login_options span, a, u {
  color: #555;
}

.top_bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 3em;

  background: #444;
  opacity: 0.3;

  border:#888;
}

.top_form {
  position: absolute;
  top: 0;
  right: 0;

  color: #FFF;

  z-index: 999;
}

.top_form input {
  width: 10em;
  height: 2em;

  margin: 0.7em;
  padding: 1em;

  background: transparent;
  border: 1px solid #FFF;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      -ms-border-radius: 2px;
          border-radius: 2px;

  color: #FFF;
}

.top_form > span {
  display: inline-block;

  width: 1em;
  height: 2em;

  margin: 0;
  padding: 8px;

  text-align: center;
  font-size: 12pt;
  color: #FFF;

  cursor: pointer;
}