/*     COLOR SCHEME    */
/*                     */
/* black #4D4C48       */
/* green #739541       */
/* blue  #659681       */
/* grey  #ADA99F       */
/* white #EEE9E3       */

/* Include icon css */
@import url('icons.css');

::-webkit-scrollbar {
  display: none;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@font-face {
  font-family: 'app-font';
  src: url('/fonts/Raleway-Regular.otf');
}

html, body {
  margin:0;
  padding:0;

  width:100%;
  height:100%;

  font-family: 'app-font';

  background: transparent;

  /*MSIE No Scrollbar*/
  scrollbar: none;
}

div {
  display:block;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

hr {
  border-style: none;
  border: 1px solid #AAA;
  background: #AAA;
}

.hidden {
  display:none;
}

div#loader {
  position: fixed;
  top: 30%;
  left: 48%;

  width: 5em;
}

div#loader span[class*='icon-'] {
  display: block;
  position: relative;

  color: #555;
}

span#spinner {
  font-size: 5em;

  -webkit-animation: spin 1s linear 0s infinite;
     -moz-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.wrapper {
  position: absolute;
  top: 0px;
  left: 0px;

  z-index: -9999;

  width: 100%;
  height: 100%;

  /*background: #ECF0F1;*/
  /*opacity: 0.2;*/

  -webkit-filter: blur(2px);
     -moz-filter: blur(2px);
      -ms-filter: blur(2px);
       -o-filter: blur(2px);
          filter: blur(2px);
}

.main {
  position: relative;
  top: 3em;
  left: 4em;

  width: 83.9%;
  height: 93%;
}

.triangle {
  display: none;

  position: relative;
  top: -26px;
  left: 5px;

  z-index: 999;

  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid greenyellow;
}

.top_bar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 3em;

  z-index: 1;
  background: #333;
}

.top_bar .title {
  position: relative;
  top: 0;
  left: 0;
  
  font-size: 25pt;
  font-family: 'app-font';
  color: #555;
}

.nav li.white .triangle {
  border-right: 15px solid #FFF;
}

.user_bar {
  position: fixed;
  top: 0px;
  right: 1.5em;

  z-index: 999;

  width: auto;
  height: 1em;

  color: #555;
}

.user_bar button {
  position: absolute;
  top: 0;
  right: -18em;

  width: 18em;
  height: 1.5em;

  background: #333;
  border: none;

  text-align: left;
  color: #555;
  cursor: pointer;

  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
          transition: all 0.5s;
}

.user_bar:hover button {
  right: -3em;

  background: #555;
  color: #FFF;
}

.user_tools {
  position: fixed;
  top: 1.5em;
  right: -0.2em;

  z-index: 999;

  width: auto;
  height: 1em;

  color: #555;
}

.user_tools button {
  background: #333;
  border: none;

  color: #555;
}

.nav {
  position: fixed;
  top: 3em;

  width: 4em;
  height: 100%;

  z-index: 1;

  background: #FFF;
}

.nav_menu {
  position: relative;
  top: 0;
  left: 0;

  width: 90%;
}

.nav_menu ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.nav_menu ul li {
  display: inline-block;

  width: 4em;
  height: 4em;

  color: #555;
  text-align: center;

  -webkit-transition: all 1s;
     -moz-transition: all 1s;
          transition: all 1s;  
}

.nav_menu ul li span {
  font-size: 18pt;
}

.nav_menu ul li:hover {
  background: #CCC;
}

.nav_menu ul li.active {
  background: #CCC;
}

.nav_menu ul li.active .triangle {
  display: block;
}

.nav_menu ul li:active {
}

.nav_menu ul li span.nav_icon {
  font-size: 28px;
}

.widget {
  float: left;

  background: #FFF;

  box-shadow: 2px 2px 0px 0px #555;
}

.bar {
  float: left;

  height: 100%;
}

.bar#categ div#color {
  background: greenyellow;
}

.bar#categ {
  position: fixed;
  top: 3em;
  width: 10em;

  background: #555;
  color: #fff;
  overflow: hidden;

  border-left: 0.5em solid greenyellow;
}

.bar#categ span {
  display: block;
  position: relative;
  left: 0;

  padding: 1em 0 1em 2em;

  cursor: pointer;

  background: #555;

  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
          transition: all 0.2s; 
}

.bar#categ span:hover {
  left: 2em;
}

.bar#categ span.cat_active {
  left: 2em;
}

.bar#list {
  position: relative;
  top: 0;
  left: 10.5em;

  width: 100%;
  height: auto;

  z-index: 0;
  overflow: hidden;

  background: greenyellow;
  /*border-left: 0.5em solid greenyellow;*/
}

.bar#list .date_title {
  width: 100%;
  padding: 0.5em;

  background: #555;

  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
}

.bar#list .date_title span {
  display: inline-block;
  width: 15%;

  text-align: center;
}

.bar#list .list_item {
  position: relative;
  left: 0;

  width: 100%;
  padding: 0.5em;

  font-size: 1.2em;
  color: #000;

  cursor: pointer;

  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
          transition: all 0.2s;
}

.bar#list .list_item:hover {
  left: 2em;
}

.bar#list .list_item:nth-child(even) {
  background: #F2F1EF;
}

.bar#list .list_item:nth-child(odd) {
  background: #FFF;
}

.bar#list .list_item span:first-child {
  text-align: left;
}

.bar#list .list_item span:last-child {
  float: right;
  width: 38%;

  margin-right: 2%;
}

.bar#list .list_item span {
  display: inline-block;
  width: 18%;

  text-align: right;
}

.bar#event {
  position: relative;
  top: 0;
  left: 10.5em;

  width: 100%;
  height: auto;

  z-index: 0;

  background: #FFF;
}

.bar#event .event_jumbo div#home_team {
  float: right;

  width: 50%;

  text-align: center;
}

.bar#event .event_jumbo div#away_team {
  float: left;

  width: 50%;

  text-align: center;
}

.bar#event .event_jumbo span {
  display: block;
}

.bar#event .event_jumbo span#at {
  position: relative;
  top: 15em;
  left: 49%;

  font-size: 1em;
  font-weight: bold;
}

.bar#event .event_jumbo span#score {
  font-size: 8em;
}

.bar#event .event_jumbo span#s_name {
  padding-top: 1em;
  font-size: 2em;
}
.bar#event .event_jumbo span#name {
  padding: 1em;
  font-size: 1.25em;
}

.bar#event .event_jumbo div#event_desc {
  clear: both;

  width: 80%;

  padding: 1em;
  margin: 0 auto;

  font-size: 1.5em;
  text-align: center;

  border-top: 1px solid #EEE;
}

.bar#event .event_jumbo div#bet_button {
  clear: both;

  width: 20%;

  padding: 1em;
  margin: 0 auto;

  font-size: 2em;
  text-align: center;

  background: #AAA;
  color: #FFF;
  border: 2px solid #AAA;
}

.bar#event .bet_box {
  display: none;
  position: fixed;
  top: 30%;
  left: 40%;

  width: 30em;
  height: 15em;

  background: #555;
}